assistant_UI.json
[{"id":"83903875.a2e67","type":"watson-conversation-v1","z":"943b4910.ef79b","name":"","workspaceid":"65bb29ef-5381-4d3d-bd52-bae03f51dda5","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":484,"y":104,"wires":[["1bbc9ed6.47b3f1"]]},{"id":"1bbc9ed6.47b3f1","type":"switch","z":"943b4910.ef79b","name":"","property":"payload.output.text","propertyType":"msg","rules":[{"t":"eq","v":"OUT-TO-WEATHER","vt":"str"},{"t":"eq","v":"OUT-Sensor","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":660,"y":106,"wires":[["9ee58043.d384a8"],["5c12fdce.c9b02c"],["6170ed6d.7ae7ac"]]},{"id":"9ee58043.d384a8","type":"link out","z":"943b4910.ef79b","name":"weather-Out","links":["736ea94c.def228"],"x":815,"y":94,"wires":[]},{"id":"878b858e.4a03a","type":"comment","z":"943b4910.ef79b","name":"Assistant","info":"","x":77,"y":48,"wires":[]},{"id":"5c12fdce.c9b02c","type":"link out","z":"943b4910.ef79b","name":"IoTdata-out1","links":["f33a88c6.5128e"],"x":816,"y":137,"wires":[]},{"id":"15ecd807.b98ec","type":"function","z":"943b4910.ef79b","name":"Read User input","func":"msg.payload=msg.payload.chat;\n\nreturn msg;","outputs":1,"noerr":0,"x":285.5,"y":103,"wires":[["83903875.a2e67"]]},{"id":"7abbd71c.87407","type":"ui_text","z":"943b4910.ef79b","group":"874eff4f.a89268","order":2,"width":"6","height":"7","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"col-center","x":945.25,"y":284.7499694824219,"wires":[]},{"id":"5c20287d.26ff9","type":"ui_form","z":"943b4910.ef79b","name":"User input","label":"","group":"874eff4f.a89268","order":3,"width":"6","height":"3","options":[{"label":"Chat with me","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":86,"y":103,"wires":[["15ecd807.b98ec"]]},{"id":"2ff413b6.940be4","type":"comment","z":"943b4910.ef79b","name":"Last measurement","info":"","x":117.5,"y":332.3125,"wires":[]},{"id":"f33a88c6.5128e","type":"link in","z":"943b4910.ef79b","name":"IoTdata-in1","links":["5c12fdce.c9b02c"],"x":64.4444580078125,"y":239.81253051757812,"wires":[["64d7306c.814e9"]]},{"id":"e29bb90e.874d7","type":"ui_gauge","z":"943b4910.ef79b","name":"","group":"8c7ff181.dd39d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload}}","min":"10","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600.8607788085938,"y":208.34024047851562,"wires":[]},{"id":"47d6a32a.1dd9a4","type":"function","z":"943b4910.ef79b","name":"Message","func":"msg.payload  = \"Latest measurement was \" + msg.payload.temperature + \" measured \"+ new Date(msg.payload.timestamp * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":409.61102294921875,"y":282.3125305175781,"wires":[["7abbd71c.87407"]]},{"id":"cdffb67e.c2ba48","type":"switch","z":"943b4910.ef79b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240.861083984375,"y":384.72913360595703,"wires":[["11ab79d9.f8ccfe"]]},{"id":"11ab79d9.f8ccfe","type":"switch","z":"943b4910.ef79b","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":380.8611145019531,"y":384.72913360595703,"wires":[["666608c4.84aa18"]]},{"id":"5d6cbe62.cd8e9","type":"ibmiot in","z":"943b4910.ef79b","authentication":"apiKey","apiKey":"c35b4a38.2fa108","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":88.02780151367188,"y":385.0624771118164,"wires":[["cdffb67e.c2ba48","48189aee.424354"]]},{"id":"207dfb34.fc1804","type":"ui_button","z":"943b4910.ef79b","name":"","group":"8c7ff181.dd39d8","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":588.0277099609375,"y":254.3125,"wires":[["e29bb90e.874d7"]]},{"id":"5898232f.f3bb1c","type":"function","z":"943b4910.ef79b","name":"Temp","func":"msg.payload  = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":400.611083984375,"y":207.97916412353516,"wires":[["e29bb90e.874d7"]]},{"id":"48189aee.424354","type":"debug","z":"943b4910.ef79b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":114.86111450195312,"y":436.2292175292969,"wires":[]},{"id":"6170ed6d.7ae7ac","type":"function","z":"943b4910.ef79b","name":"Parse output","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":848.0625,"y":185.5625,"wires":[["7abbd71c.87407"]]},{"id":"666608c4.84aa18","type":"function","z":"943b4910.ef79b","name":"Save to global variable","func":"sensor = {\n    \"temperature\" :msg.payload.temp,\n    \"timestamp\" : msg.payload.tsmTs\n}\nglobal.set(\"sensor\",sensor)\n","outputs":1,"noerr":0,"x":580.5625,"y":384.5625,"wires":[[]]},{"id":"64d7306c.814e9","type":"function","z":"943b4910.ef79b","name":"Get latest temperature","func":"msg.payload = global.get(\"sensor\");\nreturn msg;","outputs":1,"noerr":0,"x":211.8125,"y":239.3125,"wires":[["5898232f.f3bb1c","47d6a32a.1dd9a4"]]},{"id":"874eff4f.a89268","type":"ui_group","z":0,"name":"Bot","tab":"6c2522db.b87404","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c7ff181.dd39d8","type":"ui_group","z":0,"name":"Last sensor value","tab":"6c2522db.b87404","order":2,"disp":true,"width":"6","collapse":false},{"id":"c35b4a38.2fa108","type":"ibmiot","z":"","name":"thingsee","keepalive":"60","serverName":"jwql3u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6c2522db.b87404","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]