assistant_UI.json
[{"id":"e101c3ce.75f188","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"559e7836.e1ce78","type":"watson-conversation-v1","z":"e101c3ce.75f188","name":"","workspaceid":"65bb29ef-5381-4d3d-bd52-bae03f51dda5","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":527.6666259765625,"y":138,"wires":[["adc015c5.e1e61","ea751ed4.5c0b2"]]},{"id":"ea751ed4.5c0b2","type":"switch","z":"e101c3ce.75f188","name":"","property":"payload.output.text","propertyType":"msg","rules":[{"t":"eq","v":"OUT-TO-WEATHER","vt":"str"},{"t":"eq","v":"OUT-Sensor","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":806.6665954589844,"y":137.99999237060547,"wires":[["cc46e7c5.cb9448"],["62b3b2f4.b9a7ac"],["cbeecc13.d3205"]]},{"id":"cc46e7c5.cb9448","type":"link out","z":"e101c3ce.75f188","name":"weather-Out","links":["650245ef.512aa4"],"x":992.6665954589844,"y":91,"wires":[]},{"id":"ef92b377.44a798","type":"comment","z":"e101c3ce.75f188","name":"Assistant","info":"","x":120.6666259765625,"y":83,"wires":[]},{"id":"62b3b2f4.b9a7ac","type":"link out","z":"e101c3ce.75f188","name":"IoTdata-out","links":["c8ce82c.3a9c7"],"x":991.6665954589844,"y":137.9999771118164,"wires":[]},{"id":"8b502615.a04e08","type":"function","z":"e101c3ce.75f188","name":"Read User input","func":"msg.payload = msg.payload.chat;\nreturn msg;","outputs":1,"noerr":0,"x":329.1666259765625,"y":138,"wires":[["559e7836.e1ce78"]]},{"id":"30e60402.426c64","type":"ui_text","z":"e101c3ce.75f188","group":"e4084135.d733a","order":2,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"col-center","x":911.6665954589844,"y":317.0000114440918,"wires":[]},{"id":"d0339bcb.587fa8","type":"ui_form","z":"e101c3ce.75f188","name":"User input","label":"","group":"e4084135.d733a","order":3,"width":"6","height":"3","options":[{"label":"Chat with me","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":129.6666259765625,"y":138,"wires":[["8b502615.a04e08"]]},{"id":"630c9f64.00e448","type":"comment","z":"e101c3ce.75f188","name":"Last measurement","info":"","x":137.30545043945312,"y":398.0000457763672,"wires":[]},{"id":"72ba18d3.a8c288","type":"switch","z":"e101c3ce.75f188","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":263.6665344238281,"y":452.66664123535156,"wires":[["3b50559c.795a32"]]},{"id":"3b50559c.795a32","type":"switch","z":"e101c3ce.75f188","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":403.66656494140625,"y":452.66664123535156,"wires":[["ca7301dd.4a0db"]]},{"id":"a8b660cd.d6a348","type":"ibmiot in","z":"e101c3ce.75f188","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110.833251953125,"y":452.99998474121094,"wires":[["72ba18d3.a8c288","7d1ade1.88dd12"]]},{"id":"adc015c5.e1e61","type":"debug","z":"e101c3ce.75f188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":669.8333435058594,"y":78.00000762939453,"wires":[]},{"id":"cbeecc13.d3205","type":"function","z":"e101c3ce.75f188","name":"Parse output","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":928.8333435058594,"y":200.3333396911621,"wires":[["30e60402.426c64"]]},{"id":"9e46208b.24997","type":"cloudant in","z":"e101c3ce.75f188","name":"Retrieve documents","cloudant":"c3e585a6.1948b8","database":"latest","service":"smarthome-app-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":238.66653442382812,"y":1145.6666870117188,"wires":[["9b3b415f.bfdcd8","496a167f.8d9e28"]]},{"id":"2f6ce894.95cfc","type":"cloudant out","z":"e101c3ce.75f188","name":"Remove all documents ","cloudant":"c3e585a6.1948b8","database":"latest","service":"smarthome-app-cloudantNoSQLDB","payonly":false,"operation":"delete","x":756.7831726074219,"y":1209.2055969238281,"wires":[]},{"id":"496a167f.8d9e28","type":"split","z":"e101c3ce.75f188","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":257.78314208984375,"y":1208.5556335449219,"wires":[["15917cd0.8db053"]]},{"id":"bc70e614.cb72b","type":"debug","z":"e101c3ce.75f188","name":"id and rev to delete","active":false,"console":"false","complete":"payload","x":723.7831726074219,"y":1142.9056396484375,"wires":[]},{"id":"15917cd0.8db053","type":"function","z":"e101c3ce.75f188","name":"Extract id and rev","func":"var document = {_id: msg.payload._id, _rev: msg.payload._rev};\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":519.783203125,"y":1210.1222839355469,"wires":[["bc70e614.cb72b","2f6ce894.95cfc"]]},{"id":"9b3b415f.bfdcd8","type":"debug","z":"e101c3ce.75f188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":459.1165771484375,"y":1146.1722717285156,"wires":[]},{"id":"7d1ade1.88dd12","type":"debug","z":"e101c3ce.75f188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":327.66656494140625,"y":396.6667251586914,"wires":[]},{"id":"df970e63.13ec78","type":"inject","z":"e101c3ce.75f188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":184.8333282470703,"y":1091.999979019165,"wires":[["9e46208b.24997"]]},{"id":"d0ee83b6.9bcf3","type":"http request","z":"e101c3ce.75f188","name":"geoservice","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC_I4RmHnE545Sk0QJcZzF7PtB1xYYrC-o&address={{{payload}}}","tls":"","x":395.41656494140625,"y":604.9167404174805,"wires":[["b20c414b.a815d"]]},{"id":"b20c414b.a815d","type":"function","z":"e101c3ce.75f188","name":"Parse latitude & longitude","func":"/*var x = msg.payload.results[0].geometry.location.lat+\",\"+msg.payload.results[0].geometry.location.lng;\nmsg.city = msg.payload.results[0].formatted_address;\nmsg.payload = x;\n\nmsg.location.latitude = msg.payload.results[0].geometry.location.lat;\nmsg.longitude = msg.payload.results[0].geometry.location.lng;*/\n//msg.location = {};\n\nmsg.location = {\n    lat : msg.payload.results[0].geometry.location.lat,\n    lon : msg.payload.results[0].geometry.location.lng\n    \n};\nreturn msg;\n","outputs":1,"noerr":0,"x":636.4165344238281,"y":604.916748046875,"wires":[["b7a8ab67.afdb3"]]},{"id":"c047f3a6.1d1eb8","type":"function","z":"e101c3ce.75f188","name":"Extract City","func":"msg.payload = msg.payload.context.city;\nreturn msg;","outputs":1,"noerr":0,"x":226.41656494140625,"y":604.9167404174805,"wires":[["d0ee83b6.9bcf3"]]},{"id":"b391c002.848c68","type":"comment","z":"e101c3ce.75f188","name":"Weather - API Key Inside","info":"API KEY: 3a1ac87a062142df79f4177302bd7ab9\n","x":159.41656494140625,"y":652.9167938232422,"wires":[]},{"id":"650245ef.512aa4","type":"link in","z":"e101c3ce.75f188","name":"weather-In","links":["9ee58043.d384a8","9f8e73cf.2b01d","cc46e7c5.cb9448"],"x":100.41656494140625,"y":604.9167404174805,"wires":[["c047f3a6.1d1eb8"]]},{"id":"b1b416c8.47356","type":"function","z":"e101c3ce.75f188","name":"Weather response","func":"msg.payload = msg.description;","outputs":1,"noerr":0,"x":775.1665649414062,"y":671.6666717529297,"wires":[[]]},{"id":"46481cf9.45b8a4","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":2,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.payload.tempc}}","layout":"row-spread","x":753.4165725708008,"y":760.6666984558105,"wires":[]},{"id":"3084809d.2e67e","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":1,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload.location}}","layout":"row-spread","x":743.6666259765625,"y":724.6667022705078,"wires":[]},{"id":"675ecf7f.1b3b1","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":3,"width":0,"height":0,"name":"Win speed","label":"Win speed","format":"{{msg.payload.windspeed}}","layout":"row-spread","x":754.9165725708008,"y":801.9166984558105,"wires":[]},{"id":"f571f53.3579b08","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":4,"width":0,"height":0,"name":"Conditions","label":"Conditions","format":"{{msg.payload.weather}}","layout":"row-spread","x":755.6665725708008,"y":840.1666984558105,"wires":[]},{"id":"6952334f.36e58c","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":5,"width":0,"height":0,"name":"Pressure","label":"Pressure","format":"{{msg.payload.pressure}}","layout":"row-spread","x":745.6665725708008,"y":879.6666631698608,"wires":[]},{"id":"b7a8ab67.afdb3","type":"openweathermap","z":"e101c3ce.75f188","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":352.8332824707031,"y":710.3333587646484,"wires":[["3084809d.2e67e","46481cf9.45b8a4","675ecf7f.1b3b1","f571f53.3579b08","6952334f.36e58c","b1b416c8.47356"]]},{"id":"c8ce82c.3a9c7","type":"link in","z":"e101c3ce.75f188","name":"IoTdata-in1","links":["5c12fdce.c9b02c","62b3b2f4.b9a7ac"],"x":77.66665649414062,"y":276.6666488647461,"wires":[["f311c54a.a294f"]]},{"id":"15d1203c.2f91d","type":"ui_gauge","z":"e101c3ce.75f188","name":"","group":"c640753e.98c3a","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload}}","min":"10","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":614.0829772949219,"y":245.1943588256836,"wires":[]},{"id":"2ec0cdc7.f974fa","type":"function","z":"e101c3ce.75f188","name":"Message","func":"msg.payload  = \"Latest measurement was \" + msg.payload.temperature + \" measured \"+ new Date(msg.payload.timestamp * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":422.8332214355469,"y":319.1666488647461,"wires":[["30e60402.426c64"]]},{"id":"471de7c2.84a31","type":"ui_button","z":"e101c3ce.75f188","name":"","group":"c640753e.98c3a","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":601.2499084472656,"y":291.16661834716797,"wires":[["15d1203c.2f91d"]]},{"id":"a012ce3f.7a80b","type":"function","z":"e101c3ce.75f188","name":"Temp","func":"msg.payload  = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":413.8332824707031,"y":244.83328247070312,"wires":[["15d1203c.2f91d"]]},{"id":"f311c54a.a294f","type":"function","z":"e101c3ce.75f188","name":"Get latest temperature","func":"msg.payload = global.get(\"sensor\");\nreturn msg;","outputs":1,"noerr":0,"x":225.03469848632812,"y":276.16661834716797,"wires":[["a012ce3f.7a80b","2ec0cdc7.f974fa"]]},{"id":"ca7301dd.4a0db","type":"function","z":"e101c3ce.75f188","name":"Save to global variable","func":"sensor = {\n    \"temperature\" :msg.payload.temp,\n    \"timestamp\" : msg.payload.tsmTs\n}\nglobal.set(\"sensor\",sensor)\n","outputs":1,"noerr":0,"x":606.6665344238281,"y":453.66668701171875,"wires":[[]]},{"id":"e4084135.d733a","type":"ui_group","z":0,"name":"Bot","tab":"c2fd5981.a9f79","order":1,"disp":true,"width":"6","collapse":false},{"id":"42887d6a.165994","type":"ibmiot","z":"","name":"thingsee","keepalive":"60","serverName":"jwql3u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c3e585a6.1948b8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"e61a420a.97513","type":"ui_group","z":"","name":"Weather","tab":"c2fd5981.a9f79","order":3,"disp":true,"width":"6","collapse":false},{"id":"c640753e.98c3a","type":"ui_group","z":"","name":"Last sensor value","tab":"c2fd5981.a9f79","order":2,"disp":true,"width":"6","collapse":false},{"id":"c2fd5981.a9f79","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]