visualization_UI.json
[{"id":"ce319cd.accb26","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Light","group":"15e45334.a54fdd","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":467,"y":326.74999237060547,"wires":[]},{"id":"af5fe532.a6843","type":"comment","z":"f7db7d86.8183b8","name":"BR1 - Living Room - Environment","info":" Living Room - Environment 514","x":180.25,"y":170.99999237060547,"wires":[]},{"id":"99efc8be.1295d","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Temperature","group":"15e45334.a54fdd","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":485.25,"y":242.99999237060547,"wires":[]},{"id":"44eae04c.71455","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Humidity","group":"15e45334.a54fdd","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":476.25,"y":283.99999237060547,"wires":[]},{"id":"d4e0f756.6abf28","type":"comment","z":"f7db7d86.8183b8","name":"Trash - Movement/Dist","info":"","x":140.49990844726562,"y":1056,"wires":[]},{"id":"b43174c3.8fd96","type":"ibmiot in","z":"f7db7d86.8183b8","authentication":"apiKey","apiKey":"56c48341.16f514","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":119,"y":245.99999237060547,"wires":[["3c8e46e3.4cdf92"]]},{"id":"3c8e46e3.4cdf92","type":"switch","z":"f7db7d86.8183b8","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":137,"y":296.99999237060547,"wires":[["5bd360c0.80edd"]]},{"id":"ac186012.64e3","type":"ibmiot in","z":"f7db7d86.8183b8","authentication":"apiKey","apiKey":"56c48341.16f514","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":119.99990844726562,"y":1109,"wires":[["349dcdae.730da2"]]},{"id":"e6733bda.625088","type":"function","z":"f7db7d86.8183b8","name":"Temperature","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":487.5,"y":371.99999237060547,"wires":[["dfde493b.eb92f8"]]},{"id":"349dcdae.730da2","type":"switch","z":"f7db7d86.8183b8","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX04EDQ81460272","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":144.99990844726562,"y":1158,"wires":[["d8dfb863.84755","5cf781e0.83123"]]},{"id":"ffd1c74c.04aa88","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Light","group":"588dc99d.36303","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":472.9999694824219,"y":656.0000381469727,"wires":[]},{"id":"f621a6b6.1e2b48","type":"ui_chart","z":"f7db7d86.8183b8","name":"Temperature - 24 Hours","group":"588dc99d.36303","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":559.9999694824219,"y":742.4999771118164,"wires":[[],[]]},{"id":"9968914c.e964b8","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Temperature","group":"588dc99d.36303","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":488.2499694824219,"y":566.2499771118164,"wires":[]},{"id":"7d8ea897.6d2aa8","type":"ui_gauge","z":"f7db7d86.8183b8","name":"Humidity","group":"588dc99d.36303","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480.2499694824219,"y":613.2499771118164,"wires":[]},{"id":"8a393387.ffdf7","type":"ibmiot in","z":"f7db7d86.8183b8","authentication":"apiKey","apiKey":"56c48341.16f514","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120.9999771118164,"y":567.2500228881836,"wires":[["c16408a9.b228d"]]},{"id":"c16408a9.b228d","type":"switch","z":"f7db7d86.8183b8","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562515","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":146.9999771118164,"y":617.2500305175781,"wires":[["fa1e8c78.689c2"]]},{"id":"73d0d86d.3ae47","type":"function","z":"f7db7d86.8183b8","name":"Temperature","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":489.4999694824219,"y":697.2499771118164,"wires":[["f621a6b6.1e2b48"]]},{"id":"16e10f27.d531a9","type":"comment","z":"f7db7d86.8183b8","name":"IBM Reception - Bedroom - Environment","info":" Environment 515","x":200.99996948242188,"y":494.00006103515625,"wires":[]},{"id":"5bd360c0.80edd","type":"switch","z":"f7db7d86.8183b8","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":279,"y":296.99999237060547,"wires":[["99efc8be.1295d","44eae04c.71455","ce319cd.accb26","e6733bda.625088","94f1722b.c84648"]]},{"id":"fa1e8c78.689c2","type":"switch","z":"f7db7d86.8183b8","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":301.9999694824219,"y":617.0000305175781,"wires":[["9968914c.e964b8","7d8ea897.6d2aa8","ffd1c74c.04aa88","73d0d86d.3ae47"]]},{"id":"3e63f6a7.af984a","type":"function","z":"f7db7d86.8183b8","name":"accx","func":"msg.payload = msg.payload.accx;\nmsg.topic = \"X\";\nreturn msg;","outputs":1,"noerr":0,"x":1119.9999694824219,"y":236.0000228881836,"wires":[["3dc4b58e.1b9b4a"]]},{"id":"7eb52ba8.8ea84c","type":"function","z":"f7db7d86.8183b8","name":"accz","func":"msg.payload = msg.payload.accz;\nmsg.topic = \"Z\";\nreturn msg;","outputs":1,"noerr":0,"x":1119.9999694824219,"y":321.0000228881836,"wires":[["3dc4b58e.1b9b4a"]]},{"id":"ef5594d7.64f1","type":"function","z":"f7db7d86.8183b8","name":"accy","func":"msg.payload = msg.payload.accy;\nmsg.topic = \"Y\";\nreturn msg;","outputs":1,"noerr":0,"x":1118.4999694824219,"y":278.2500228881836,"wires":[["3dc4b58e.1b9b4a"]]},{"id":"3dc4b58e.1b9b4a","type":"ui_chart","z":"f7db7d86.8183b8","name":"","group":"2298bddc.5e6122","order":0,"width":0,"height":0,"label":"Secret door","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1344.9999694824219,"y":278.99996185302734,"wires":[[],[]]},{"id":"d8dfb863.84755","type":"function","z":"f7db7d86.8183b8","name":"Distance to surface","func":"msg.payload = msg.payload.dist;\nreturn msg;","outputs":1,"noerr":0,"x":360.4999084472656,"y":1139,"wires":[["62a272b.288338c"]]},{"id":"62a272b.288338c","type":"ui_numeric","z":"f7db7d86.8183b8","name":"","label":"Trash Level","group":"2298bddc.5e6122","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1200","step":1,"x":574.4998779296875,"y":1139,"wires":[[]]},{"id":"dfde493b.eb92f8","type":"ui_chart","z":"f7db7d86.8183b8","name":"Temperature - 24 Hours","group":"15e45334.a54fdd","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":559,"y":412.99999237060547,"wires":[[],[]]},{"id":"7dba19b4.b49ce","type":"ui_text","z":"f7db7d86.8183b8","group":"2298bddc.5e6122","order":0,"width":"6","height":"2","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":716.4998474121094,"y":1222,"wires":[]},{"id":"fe065c6d.365bc","type":"function","z":"f7db7d86.8183b8","name":"Level High","func":"msg.payload = \"Time to take out the trash!\";\nreturn msg;","outputs":1,"noerr":0,"x":511.9998779296875,"y":1197,"wires":[["7dba19b4.b49ce"]]},{"id":"a4b88e81.748d4","type":"ibmiot in","z":"f7db7d86.8183b8","authentication":"apiKey","apiKey":"56c48341.16f514","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":779.9999694824219,"y":230.0000228881836,"wires":[["60129bfd.1cb45c"]]},{"id":"60129bfd.1cb45c","type":"switch","z":"f7db7d86.8183b8","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":805.9999694824219,"y":278.0000228881836,"wires":[["fa7fd3a9.59eb98"]]},{"id":"fa7fd3a9.59eb98","type":"switch","z":"f7db7d86.8183b8","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"1111","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":959.9999694824219,"y":278.0000228881836,"wires":[["3e63f6a7.af984a","ef5594d7.64f1","7eb52ba8.8ea84c"]]},{"id":"ac788efd.eacc6","type":"comment","z":"f7db7d86.8183b8","name":"BR1 - Secret door - Accelerometer","info":"Environment 546 - Accelerometer","x":850.9999694824219,"y":176.00003814697266,"wires":[]},{"id":"86e7c5fa.113f78","type":"function","z":"f7db7d86.8183b8","name":"Low level","func":"msg.payload = \"Trash level is low.\";\nreturn msg;","outputs":1,"noerr":0,"x":502.4998779296875,"y":1242,"wires":[["7dba19b4.b49ce"]]},{"id":"5cf781e0.83123","type":"switch","z":"f7db7d86.8183b8","name":"dist","property":"payload.dist","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320.9999084472656,"y":1222,"wires":[["fe065c6d.365bc"],["86e7c5fa.113f78"]]},{"id":"d3b1efad.e29018","type":"comment","z":"f7db7d86.8183b8","name":"Banner","info":"","x":91.6666259765625,"y":53.666656494140625,"wires":[]},{"id":"645ffa95.37d3a4","type":"ui_template","z":"f7db7d86.8183b8","group":"7c26b351.beb1a4","name":"Banner & Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://raw.githubusercontent.com/sandra-calvo/smarthomes/master/images/ibm%2Bmimmitkoodaa3.png';\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":143.6666259765625,"y":96.88888549804688,"wires":[[]]},{"id":"ae2459fa.0850f8","type":"comment","z":"f7db7d86.8183b8","name":"Bathroom - Presence","info":"","x":139.99996948242188,"y":797.0000610351562,"wires":[]},{"id":"81796586.40c2b8","type":"ibmiot in","z":"f7db7d86.8183b8","authentication":"apiKey","apiKey":"56c48341.16f514","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.49996948242188,"y":857.0000610351562,"wires":[["d68a91d0.6d0318"]]},{"id":"d68a91d0.6d0318","type":"switch","z":"f7db7d86.8183b8","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX06X4880561923","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":142.49996948242188,"y":909.0000610351562,"wires":[["986b03ca.69523","16cb2af6.180825"]]},{"id":"986b03ca.69523","type":"function","z":"f7db7d86.8183b8","name":"Presence","func":"msg.payload = msg.payload.moveCount;\nreturn msg;","outputs":1,"noerr":0,"x":300.4999694824219,"y":876.0000610351562,"wires":[["27c304ec.38bfdc"]]},{"id":"cb6616f1.310e58","type":"ui_text","z":"f7db7d86.8183b8","group":"6a6a3742.73a6d8","order":2,"width":"6","height":"3","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":734.4999694824219,"y":958.0000610351562,"wires":[]},{"id":"16cb2af6.180825","type":"switch","z":"f7db7d86.8183b8","name":"moveCount","property":"payload.moveCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310.9999694824219,"y":950.0000610351562,"wires":[["c3f5d5d8.f14458"],["51dde126.bf255"]]},{"id":"c3f5d5d8.f14458","type":"function","z":"f7db7d86.8183b8","name":"Presence Detected","func":"msg.payload = \"I am detecting movement in the room.\";\nreturn msg;","outputs":1,"noerr":0,"x":528.9999694824219,"y":928.0000610351562,"wires":[["cb6616f1.310e58"]]},{"id":"27c304ec.38bfdc","type":"ui_chart","z":"f7db7d86.8183b8","name":"","group":"6a6a3742.73a6d8","order":1,"width":0,"height":0,"label":"Presence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":481.4999694824219,"y":876.0000610351562,"wires":[[],[]]},{"id":"51dde126.bf255","type":"function","z":"f7db7d86.8183b8","name":"No presence","func":"msg.payload = \"No presence detected.\";\nreturn msg;","outputs":1,"noerr":0,"x":522.9999694824219,"y":976.0000610351562,"wires":[["cb6616f1.310e58"]]},{"id":"94f1722b.c84648","type":"cloudant out","z":"f7db7d86.8183b8","name":"","cloudant":"","database":"environment","service":"smarthome-app-cloudantNoSQLDB","payonly":false,"operation":"insert","x":488.5,"y":192.99999237060547,"wires":[]},{"id":"15e45334.a54fdd","type":"ui_group","z":"","name":"Living Room","tab":"54e79449.108e2c","disp":true,"width":"6","collapse":false},{"id":"56c48341.16f514","type":"ibmiot","z":"","name":"thingsee","keepalive":"60","serverName":"jwql3u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"588dc99d.36303","type":"ui_group","z":"","name":"Bedroom","tab":"54e79449.108e2c","disp":true,"width":"6","collapse":false},{"id":"2298bddc.5e6122","type":"ui_group","z":"","name":"Kitchen","tab":"54e79449.108e2c","disp":true,"width":"6","collapse":false},{"id":"7c26b351.beb1a4","type":"ui_group","z":"","name":"Default","tab":"8beeffdf.aeb24","order":1,"disp":false,"width":"24","collapse":false},{"id":"6a6a3742.73a6d8","type":"ui_group","z":"","name":"Bathroom","tab":"54e79449.108e2c","disp":true,"width":"6","collapse":false},{"id":"54e79449.108e2c","type":"ui_tab","z":"","name":"Sensors","icon":"fa-tachometer-alt","order":1},{"id":"8beeffdf.aeb24","type":"ui_tab","z":"","name":"Actions","icon":"dashboard","order":3}]