visualization_UI.json
[{"id":"84ef5b4f.862e48","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"ab626132.5e80f8","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Light","group":"3e8bac67.083804","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":467,"y":326.74999237060547,"wires":[]},{"id":"1b9aa2cb.c51bfd","type":"comment","z":"84ef5b4f.862e48","name":"BR1 - Living Room - Environment","info":" Living Room - Environment 514","x":180.25,"y":170.99999237060547,"wires":[]},{"id":"cd9dc3b.00e2bc","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Temperature","group":"3e8bac67.083804","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":485.25,"y":242.99999237060547,"wires":[]},{"id":"c08ed9b8.7f047","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Humidity","group":"3e8bac67.083804","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":476.25,"y":283.99999237060547,"wires":[]},{"id":"2ccde617.c971e2","type":"comment","z":"84ef5b4f.862e48","name":"Trash - Movement/Dist","info":"","x":140.49990844726562,"y":1056,"wires":[]},{"id":"9408fd10.45e398","type":"ibmiot in","z":"84ef5b4f.862e48","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":119,"y":245.99999237060547,"wires":[["7124931b.51b67c"]]},{"id":"7124931b.51b67c","type":"switch","z":"84ef5b4f.862e48","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":137,"y":296.99999237060547,"wires":[["768b4803.19506"]]},{"id":"6040e39f.375134","type":"ibmiot in","z":"84ef5b4f.862e48","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":119.99990844726562,"y":1109,"wires":[["22531d15.0b1e62"]]},{"id":"bccb9ce0.a8aaa","type":"function","z":"84ef5b4f.862e48","name":"Temperature","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":487.5,"y":371.99999237060547,"wires":[["8a4913da.0237"]]},{"id":"22531d15.0b1e62","type":"switch","z":"84ef5b4f.862e48","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX04EDQ81460272","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":144.99990844726562,"y":1158,"wires":[["70bfaebb.ddd808","53cd2ff8.d00d88"]]},{"id":"992790e2.3e8ed8","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Light","group":"23c2da16.d30b36","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":472.9999694824219,"y":656.0000381469727,"wires":[]},{"id":"ae592d75.88d568","type":"ui_chart","z":"84ef5b4f.862e48","name":"Temperature - 24 Hours","group":"23c2da16.d30b36","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":559.9999694824219,"y":742.4999771118164,"wires":[[],[]]},{"id":"86d8caee.f5168","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Temperature","group":"23c2da16.d30b36","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":488.2499694824219,"y":566.2499771118164,"wires":[]},{"id":"1aafd712.1ef021","type":"ui_gauge","z":"84ef5b4f.862e48","name":"Humidity","group":"23c2da16.d30b36","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480.2499694824219,"y":613.2499771118164,"wires":[]},{"id":"9b869ad.95408e8","type":"ibmiot in","z":"84ef5b4f.862e48","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120.9999771118164,"y":567.2500228881836,"wires":[["51106695.9a99d8"]]},{"id":"51106695.9a99d8","type":"switch","z":"84ef5b4f.862e48","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562515","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":146.9999771118164,"y":617.2500305175781,"wires":[["48f62d4a.6f1a3c"]]},{"id":"532e707b.a91ad8","type":"function","z":"84ef5b4f.862e48","name":"Temperature","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":489.4999694824219,"y":697.2499771118164,"wires":[["ae592d75.88d568"]]},{"id":"9f0ec44.4c87a38","type":"comment","z":"84ef5b4f.862e48","name":"IBM Reception - Bedroom - Environment","info":" Environment 515","x":200.99996948242188,"y":494.00006103515625,"wires":[]},{"id":"768b4803.19506","type":"switch","z":"84ef5b4f.862e48","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":279,"y":296.99999237060547,"wires":[["cd9dc3b.00e2bc","c08ed9b8.7f047","ab626132.5e80f8","bccb9ce0.a8aaa","2a55fecb.0889a2"]]},{"id":"48f62d4a.6f1a3c","type":"switch","z":"84ef5b4f.862e48","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":301.9999694824219,"y":617.0000305175781,"wires":[["86d8caee.f5168","1aafd712.1ef021","992790e2.3e8ed8","532e707b.a91ad8"]]},{"id":"7cba33a4.8ca10c","type":"function","z":"84ef5b4f.862e48","name":"accx","func":"msg.payload = msg.payload.accx;\nmsg.topic = \"X\";\nreturn msg;","outputs":1,"noerr":0,"x":1119.9999694824219,"y":236.0000228881836,"wires":[["470802e9.d22d8c"]]},{"id":"fadc9609.c6dad8","type":"function","z":"84ef5b4f.862e48","name":"accz","func":"msg.payload = msg.payload.accz;\nmsg.topic = \"Z\";\nreturn msg;","outputs":1,"noerr":0,"x":1119.9999694824219,"y":321.0000228881836,"wires":[["470802e9.d22d8c"]]},{"id":"4b0dc14b.0fb7f","type":"function","z":"84ef5b4f.862e48","name":"accy","func":"msg.payload = msg.payload.accy;\nmsg.topic = \"Y\";\nreturn msg;","outputs":1,"noerr":0,"x":1118.4999694824219,"y":278.2500228881836,"wires":[["470802e9.d22d8c"]]},{"id":"470802e9.d22d8c","type":"ui_chart","z":"84ef5b4f.862e48","name":"","group":"6c598882.c0b2c","order":0,"width":0,"height":0,"label":"Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1354.9999694824219,"y":278.99996185302734,"wires":[[],[]]},{"id":"70bfaebb.ddd808","type":"function","z":"84ef5b4f.862e48","name":"Distance to surface","func":"msg.payload = msg.payload.dist;\nreturn msg;","outputs":1,"noerr":0,"x":360.4999084472656,"y":1139,"wires":[["954c4259.223028"]]},{"id":"954c4259.223028","type":"ui_numeric","z":"84ef5b4f.862e48","name":"","label":"Trash Level","group":"6c598882.c0b2c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1200","step":1,"x":574.4998779296875,"y":1139,"wires":[[]]},{"id":"8a4913da.0237","type":"ui_chart","z":"84ef5b4f.862e48","name":"Temperature - 24 Hours","group":"3e8bac67.083804","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":559,"y":412.99999237060547,"wires":[[],[]]},{"id":"3ff0261f.c8d022","type":"ui_text","z":"84ef5b4f.862e48","group":"6c598882.c0b2c","order":0,"width":"6","height":"2","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":716.4998474121094,"y":1222,"wires":[]},{"id":"479ada5d.aafbac","type":"function","z":"84ef5b4f.862e48","name":"Level High","func":"msg.payload = \"Time to take out the trash!\";\nreturn msg;","outputs":1,"noerr":0,"x":511.9998779296875,"y":1197,"wires":[["3ff0261f.c8d022"]]},{"id":"7a5c0618.bbb02","type":"ibmiot in","z":"84ef5b4f.862e48","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":779.9999694824219,"y":230.0000228881836,"wires":[["e83b4d68.377228"]]},{"id":"e83b4d68.377228","type":"switch","z":"84ef5b4f.862e48","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":805.9999694824219,"y":278.0000228881836,"wires":[["70748bcb.413854"]]},{"id":"70748bcb.413854","type":"switch","z":"84ef5b4f.862e48","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"1111","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":959.9999694824219,"y":278.0000228881836,"wires":[["7cba33a4.8ca10c","4b0dc14b.0fb7f","fadc9609.c6dad8"]]},{"id":"8b22a10a.090dc8","type":"comment","z":"84ef5b4f.862e48","name":"BR1 - Living Room - Accelerometer","info":"Environment 514 - Accelerometer","x":850.9999694824219,"y":176.00003814697266,"wires":[]},{"id":"6590bbf2.7246d4","type":"function","z":"84ef5b4f.862e48","name":"Low level","func":"msg.payload = \"Trash level is low.\";\nreturn msg;","outputs":1,"noerr":0,"x":502.4998779296875,"y":1242,"wires":[["3ff0261f.c8d022"]]},{"id":"53cd2ff8.d00d88","type":"switch","z":"84ef5b4f.862e48","name":"dist","property":"payload.dist","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320.9999084472656,"y":1222,"wires":[["479ada5d.aafbac"],["6590bbf2.7246d4"]]},{"id":"c8026597.3fcea","type":"comment","z":"84ef5b4f.862e48","name":"Banner","info":"","x":91.6666259765625,"y":53.666656494140625,"wires":[]},{"id":"f13489e4.c3652","type":"ui_template","z":"84ef5b4f.862e48","group":"51d64e19.2f6948","name":"Banner & Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://raw.githubusercontent.com/sandra-calvo/smarthomes/master/images/ibm%2Bmimmitkoodaa3.png';\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":143.6666259765625,"y":96.88888549804688,"wires":[[]]},{"id":"d3df8d91.d81378","type":"comment","z":"84ef5b4f.862e48","name":"Bathroom - Presence","info":"","x":139.99996948242188,"y":797.0000610351562,"wires":[]},{"id":"a8b54ff0.66575","type":"ibmiot in","z":"84ef5b4f.862e48","authentication":"apiKey","apiKey":"42887d6a.165994","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.49996948242188,"y":857.0000610351562,"wires":[["99b01f9d.d1f3c8"]]},{"id":"99b01f9d.d1f3c8","type":"switch","z":"84ef5b4f.862e48","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX06X4880561923","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":142.49996948242188,"y":909.0000610351562,"wires":[["e7f7859c.4bc4f","49920ff3.ae28f"]]},{"id":"e7f7859c.4bc4f","type":"function","z":"84ef5b4f.862e48","name":"Presence","func":"msg.payload = msg.payload.moveCount;\nreturn msg;","outputs":1,"noerr":0,"x":300.4999694824219,"y":876.0000610351562,"wires":[["83bddbb6.39f948"]]},{"id":"156e00e5.cad9ff","type":"ui_text","z":"84ef5b4f.862e48","group":"9a38f8ed.6ed0f","order":2,"width":"6","height":"3","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":734.4999694824219,"y":958.0000610351562,"wires":[]},{"id":"49920ff3.ae28f","type":"switch","z":"84ef5b4f.862e48","name":"moveCount","property":"payload.moveCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310.9999694824219,"y":950.0000610351562,"wires":[["a5572e46.210bd"],["5d8032f6.db55e4"]]},{"id":"a5572e46.210bd","type":"function","z":"84ef5b4f.862e48","name":"Presence Detected","func":"msg.payload = \"I am detecting movement in the room.\";\nreturn msg;","outputs":1,"noerr":0,"x":528.9999694824219,"y":928.0000610351562,"wires":[["156e00e5.cad9ff"]]},{"id":"83bddbb6.39f948","type":"ui_chart","z":"84ef5b4f.862e48","name":"","group":"9a38f8ed.6ed0f","order":1,"width":0,"height":0,"label":"Presence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":481.4999694824219,"y":876.0000610351562,"wires":[[],[]]},{"id":"5d8032f6.db55e4","type":"function","z":"84ef5b4f.862e48","name":"No presence","func":"msg.payload = \"No presence detected.\";\nreturn msg;","outputs":1,"noerr":0,"x":522.9999694824219,"y":976.0000610351562,"wires":[["156e00e5.cad9ff"]]},{"id":"2a55fecb.0889a2","type":"cloudant out","z":"84ef5b4f.862e48","name":"","cloudant":"","database":"environment","service":"smarthome-app-cloudantNoSQLDB","payonly":false,"operation":"insert","x":488.5,"y":192.99999237060547,"wires":[]},{"id":"3e8bac67.083804","type":"ui_group","z":"","name":"Living Room","tab":"5b464b93.bc09dc","disp":true,"width":"6","collapse":false},{"id":"42887d6a.165994","type":"ibmiot","z":"","name":"thingsee","keepalive":"60","serverName":"jwql3u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"23c2da16.d30b36","type":"ui_group","z":"","name":"Bedroom","tab":"5b464b93.bc09dc","disp":true,"width":"6","collapse":false},{"id":"6c598882.c0b2c","type":"ui_group","z":"","name":"Kitchen","tab":"5b464b93.bc09dc","disp":true,"width":"6","collapse":false},{"id":"51d64e19.2f6948","type":"ui_group","z":"","name":"Default","tab":"bd22bffb.97bec8","order":1,"disp":false,"width":"24","collapse":false},{"id":"9a38f8ed.6ed0f","type":"ui_group","z":"","name":"Bathroom","tab":"5b464b93.bc09dc","disp":true,"width":"6","collapse":false},{"id":"5b464b93.bc09dc","type":"ui_tab","z":"","name":"Sensors","icon":"fa-tachometer-alt","order":1},{"id":"bd22bffb.97bec8","type":"ui_tab","z":"","name":"Actions","icon":"dashboard","order":3}]