visualization_UI.json
[{"id":"fbb1fb40.6fc8b","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"304c7a19.6f81d6","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Light","group":"11e03640.b96a2a","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":424,"y":220.75,"wires":[]},{"id":"814f4df0.620ed8","type":"comment","z":"fbb1fb40.6fc8b","name":"Dashboard - Environment 514","info":"","x":133.25,"y":44,"wires":[]},{"id":"55e35678.ce5db","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Temperature","group":"11e03640.b96a2a","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440.25,"y":137,"wires":[]},{"id":"cbf6b03f.1c5f5","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Humidity","group":"11e03640.b96a2a","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430.25,"y":178,"wires":[]},{"id":"291616c7.d94ef2","type":"comment","z":"fbb1fb40.6fc8b","name":"Dashboard - Movement/Dist","info":"","x":169.5,"y":743,"wires":[]},{"id":"a6080330.6589e8","type":"ibmiot in","z":"fbb1fb40.6fc8b","authentication":"apiKey","apiKey":"74f69cec.cd8ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":86,"y":140,"wires":[["57c2a00.3c9716"]]},{"id":"57c2a00.3c9716","type":"switch","z":"fbb1fb40.6fc8b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":104,"y":191,"wires":[["28494871.e00ac8","fd8be238.33f2"]]},{"id":"308004bd.6119f4","type":"ibmiot in","z":"fbb1fb40.6fc8b","authentication":"apiKey","apiKey":"74f69cec.cd8ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121,"y":787,"wires":[["ab013f65.058cb8"]]},{"id":"2735245.ab465dc","type":"function","z":"fbb1fb40.6fc8b","name":"","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":426.5,"y":266,"wires":[["2dbb864e.d83c62"]]},{"id":"ab013f65.058cb8","type":"switch","z":"fbb1fb40.6fc8b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX04EDQ81460272","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":127,"y":847,"wires":[["1e70b457.78ff24","1394ef82.1941","d9d98209.b52f98"]]},{"id":"1e70b457.78ff24","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":124,"y":896,"wires":[]},{"id":"1b0dced0.4f7eb1","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Light","group":"d7298dd4.276fa8","order":3,"width":"0","height":"0","gtype":"gage","title":"Light","label":"lux","format":"{{msg.payload.lght}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1087,"y":217,"wires":[]},{"id":"4c589cf5.438bf4","type":"ui_chart","z":"fbb1fb40.6fc8b","name":"Temperature - 24 Hours","group":"d7298dd4.276fa8","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1151,"y":311.5,"wires":[[],[]]},{"id":"d8b5dcfe.8dc41","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Temperature","group":"d7298dd4.276fa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1105.25,"y":129.25,"wires":[]},{"id":"7991cad.c6fddb4","type":"ui_gauge","z":"fbb1fb40.6fc8b","name":"Humidity","group":"d7298dd4.276fa8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humd}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1096.25,"y":175.25,"wires":[]},{"id":"b01d9872.8bb45","type":"ibmiot in","z":"fbb1fb40.6fc8b","authentication":"apiKey","apiKey":"74f69cec.cd8ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":729.0000076293945,"y":127.25,"wires":[["526dc720.de4e5"]]},{"id":"526dc720.de4e5","type":"switch","z":"fbb1fb40.6fc8b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562515","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":747.0000076293945,"y":178.25,"wires":[["eaad4785.2300d","5979a251.34b024"]]},{"id":"eaad4785.2300d","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":758,"y":225.25,"wires":[]},{"id":"5992ebc.1f8e994","type":"function","z":"fbb1fb40.6fc8b","name":"","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":1089.5000076293945,"y":266.25,"wires":[["4c589cf5.438bf4"]]},{"id":"64fc0250.0a70d4","type":"comment","z":"fbb1fb40.6fc8b","name":"Dashboard - Environment 515","info":"","x":752,"y":46,"wires":[]},{"id":"28494871.e00ac8","type":"switch","z":"fbb1fb40.6fc8b","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":258,"y":192,"wires":[["55e35678.ce5db","cbf6b03f.1c5f5","304c7a19.6f81d6","2735245.ab465dc","60ac8b0d.1981a4"]]},{"id":"5979a251.34b024","type":"switch","z":"fbb1fb40.6fc8b","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"12100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":915,"y":178,"wires":[["d8b5dcfe.8dc41","7991cad.c6fddb4","1b0dced0.4f7eb1","5992ebc.1f8e994","675d91f6.d448b8"]]},{"id":"c678a496.743848","type":"comment","z":"fbb1fb40.6fc8b","name":"Dashboard - Presence","info":"","x":138,"y":469,"wires":[]},{"id":"a9b7b57a.46e43","type":"ibmiot in","z":"fbb1fb40.6fc8b","authentication":"apiKey","apiKey":"74f69cec.cd8ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":109.5,"y":513,"wires":[["3f6a5879.c27ff8","93c0441c.756d3"]]},{"id":"3f6a5879.c27ff8","type":"switch","z":"fbb1fb40.6fc8b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX06X4880561923","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":115.5,"y":573,"wires":[["55f294fb.807ecc","50423917.c89a4","a5ebf7e6.6acfc8"]]},{"id":"55f294fb.807ecc","type":"function","z":"fbb1fb40.6fc8b","name":"","func":"msg.payload = msg.payload.moveCount;\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":547,"wires":[["8c92cae1.0fa5d"]]},{"id":"50423917.c89a4","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":131,"y":626,"wires":[]},{"id":"7f9b37d0.fa7d28","type":"ui_text","z":"fbb1fb40.6fc8b","group":"8d4a4fab.22a1e","order":2,"width":"6","height":"3","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":776.5,"y":589,"wires":[]},{"id":"a5ebf7e6.6acfc8","type":"switch","z":"fbb1fb40.6fc8b","name":"moveCount","property":"payload.moveCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":314,"y":598,"wires":[["3e68852a.f96fc2"],["36b1296f.689626"]]},{"id":"3e68852a.f96fc2","type":"function","z":"fbb1fb40.6fc8b","name":"Presence Detected","func":"msg.payload = \"I am detecting movement in the room.\";\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":590,"wires":[["7f9b37d0.fa7d28"]]},{"id":"8c92cae1.0fa5d","type":"ui_chart","z":"fbb1fb40.6fc8b","name":"","group":"8d4a4fab.22a1e","order":1,"width":0,"height":0,"label":"Presence","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":509.5,"y":545,"wires":[[],[]]},{"id":"93c0441c.756d3","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":347,"y":509,"wires":[]},{"id":"fa1594f8.83cb28","type":"function","z":"fbb1fb40.6fc8b","name":"accx","func":"msg.payload = msg.payload.accx;\nmsg.topic = \"X\";\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":1123,"wires":[["7f66b4a6.f3406c"]]},{"id":"c325d963.d78648","type":"function","z":"fbb1fb40.6fc8b","name":"accz","func":"msg.payload = msg.payload.accz;\nmsg.topic = \"Z\";\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":1215,"wires":[["7f66b4a6.f3406c"]]},{"id":"443170d9.73625","type":"function","z":"fbb1fb40.6fc8b","name":"accy","func":"msg.payload = msg.payload.accy;\nmsg.topic = \"Y\";\nreturn msg;","outputs":1,"noerr":0,"x":441.5,"y":1166.25,"wires":[["7f66b4a6.f3406c"]]},{"id":"7f66b4a6.f3406c","type":"ui_chart","z":"fbb1fb40.6fc8b","name":"","group":"be33175d.59658","order":0,"width":0,"height":0,"label":"Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":618,"y":1171,"wires":[[],[]]},{"id":"1394ef82.1941","type":"function","z":"fbb1fb40.6fc8b","name":"Distance to surface","func":"msg.payload = msg.payload.dist;\nreturn msg;","outputs":1,"noerr":0,"x":350.5,"y":847,"wires":[["9d4e17aa.09ec68","7e9eb3ad.f7e514"]]},{"id":"9d4e17aa.09ec68","type":"ui_numeric","z":"fbb1fb40.6fc8b","name":"","label":"Trash Level","group":"be33175d.59658","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1200","step":1,"x":556.5,"y":845,"wires":[[]]},{"id":"2dbb864e.d83c62","type":"ui_chart","z":"fbb1fb40.6fc8b","name":"Temperature - 24 Hours","group":"11e03640.b96a2a","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":484,"y":310,"wires":[[],[]]},{"id":"e58d6107.3182a","type":"ui_text","z":"fbb1fb40.6fc8b","group":"be33175d.59658","order":0,"width":"6","height":"2","name":"","label":"Message","format":"{{msg.payload}}","layout":"col-center","x":797.5,"y":895,"wires":[]},{"id":"129271e3.484dd6","type":"function","z":"fbb1fb40.6fc8b","name":"Level High","func":"msg.payload = \"Time to take out the trash!\";\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":897,"wires":[["e58d6107.3182a"]]},{"id":"fd8be238.33f2","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":126,"y":239,"wires":[]},{"id":"36b1296f.689626","type":"function","z":"fbb1fb40.6fc8b","name":"No presence","func":"msg.payload = \"No presence detected.\";\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":632,"wires":[["7f9b37d0.fa7d28"]]},{"id":"7e9eb3ad.f7e514","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":537,"y":791,"wires":[]},{"id":"3ab0f344.876534","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":318,"y":958,"wires":[]},{"id":"b7a6e05b.1ad948","type":"ibmiot in","z":"fbb1fb40.6fc8b","authentication":"apiKey","apiKey":"74f69cec.cd8ebc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":108,"y":1097,"wires":[["56221e5d.cac47"]]},{"id":"56221e5d.cac47","type":"switch","z":"fbb1fb40.6fc8b","name":"ID","property":"payload.tsmTuid","propertyType":"msg","rules":[{"t":"eq","v":"XXXX03X2Z80562514","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":126,"y":1148,"wires":[["b0f40294.33029","cb3fcf80.3bbaa8"]]},{"id":"b0f40294.33029","type":"switch","z":"fbb1fb40.6fc8b","name":"tsmId","property":"payload.tsmId","propertyType":"msg","rules":[{"t":"eq","v":"1111","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1149,"wires":[["fa1594f8.83cb28","443170d9.73625","c325d963.d78648"]]},{"id":"cb3fcf80.3bbaa8","type":"debug","z":"fbb1fb40.6fc8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":148,"y":1196,"wires":[]},{"id":"43c77138.d808d8","type":"comment","z":"fbb1fb40.6fc8b","name":"Dashboard - Environment 514 - Accelerometer","info":"","x":228,"y":1048,"wires":[]},{"id":"964e9987.2b575","type":"function","z":"fbb1fb40.6fc8b","name":"Low level","func":"msg.payload = \"Trash level is low.\";\nreturn msg;","outputs":1,"noerr":0,"x":561.5,"y":941,"wires":[["e58d6107.3182a"]]},{"id":"d9d98209.b52f98","type":"switch","z":"fbb1fb40.6fc8b","name":"dist","property":"payload.dist","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":346,"y":904,"wires":[["129271e3.484dd6"],["964e9987.2b575"]]},{"id":"60ac8b0d.1981a4","type":"cloudant out","z":"fbb1fb40.6fc8b","name":"","cloudant":"","database":"environment","service":"mimmitkoodaa-cloudantNoSQLDB","payonly":false,"operation":"insert","x":437.5,"y":87,"wires":[]},{"id":"675d91f6.d448b8","type":"cloudant out","z":"fbb1fb40.6fc8b","name":"","cloudant":"","database":"environment2","service":"mimmitkoodaa-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1114,"y":80,"wires":[]},{"id":"11e03640.b96a2a","type":"ui_group","z":"","name":"Living Room","tab":"2e081155.959dfe","disp":true,"width":"6","collapse":false},{"id":"74f69cec.cd8ebc","type":"ibmiot","z":"","name":"thingsee","keepalive":"60","serverName":"jwql3u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d7298dd4.276fa8","type":"ui_group","z":"","name":"Bedroom","tab":"2e081155.959dfe","disp":true,"width":"6","collapse":false},{"id":"8d4a4fab.22a1e","type":"ui_group","z":"","name":"Bathroom","tab":"2e081155.959dfe","disp":true,"width":"6","collapse":false},{"id":"be33175d.59658","type":"ui_group","z":"","name":"Kitchen","tab":"2e081155.959dfe","disp":true,"width":"6","collapse":false},{"id":"2e081155.959dfe","type":"ui_tab","z":"","name":"Sensors","icon":"fa-tachometer-alt","order":3}]